form label {
    display: block;
    margin: 10px 10px;
}

form input, form textarea {
    display: block;
    padding:10px;
    width: 100%;
}

form input[type=submit]{
    width: 30%;
    min-width: 300px;
    margin: 10px auto;
    background-color: green;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type=submit]:hover{
    background-color: darkgreen;
}

.espaco{
    margin-top: 30px;
}

.background {
    background: #bebebe;
    margin-top: 50px;
}

.d-flex {
    display:flex;
    flex-wrap: wrap;
}

.flex-2-column{
    display: flex;
    border-radius:20px;
}