*{
    padding:0px;
    margin: 0px;
}

h1{
    font-size:1.5em;
}

.arredonda-bordas{
    border-radius: 10px;
}

.d-flex {
    display:flex;
    flex-wrap: wrap;
}

.centralizar{
    display: block;
    margin-left: auto;
    margin-right:auto ;
}

.flex-2-column{
    
    display: flex;
    border-radius:20px;
}

.w-100{
    width: 100%;
}

#pista-quadras{
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 20px;
}

h2{
    color: #004b8d;
  text-align: center;
  font-size: 20px;
}

.arredonda{
    border-radius: 20px;
    display: block;
   margin-left: auto;
   margin-right: auto;
}

.endereco {
    display: inline-block;
    width: 45%;
    text-align: center;
    vertical-align: top;
}

@media (max-width: 858px) {
    #pista-quadras{
        display: none;
    }
}



